/*basic*/

body {
	font-family: 'Rubik', sans-serif;
	color: var(--main-color);
	font-size: 16px;
}
a {
	text-decoration: none;
}
button {
	font-family: 'Rubik', sans-serif;
}
.align-end {
	align-items: flex-end !important;
}

/*container*/

.container {
	max-width: 1140px;
	margin: 0 auto;
}
.container-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
.container-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

/*text*/

.strong-text {
	font-weight: 700;
}
.normal-text {
	font-weight: 500;
}

/*header*/

.header {
	width: 100%;
	height: 121px;
	position: fixed;
	top: 0;
	z-index: 10;

}
.header::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 3;
}
.header-body {
	position: relative;
	padding: 0 1rem;
}

.header-logo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	font-weight: 500;
	color: var(--main-color);
	z-index: 5;
}
.header-img {
	height: 36.23px;
	width: 35px;
}
.header-title {
	padding: 0 0 0 10px;
}
.menu-wrapper {
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	z-index: 5;
}
.header-nav {
	max-width: 451px;
	width: 100%;
}
.header-nav ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.header-nav-link {
	color: var(--second-color);
	font-weight: 400;
	transition: all .2s ease-in-out;
}
.header-nav-item {
	transition: all .2s ease-in-out;
}
.header-nav-item:hover {
	transform: scale(1.1);
	color: #202228;
	transition: all .2s ease-in-out;
}

.button-sign-in {
	border: none;
	outline: none;
	background: none;
	padding: 0;
	font-weight: 500;
	padding: 0 30px 0 0;
	transition: all .2s ease-in-out;
}
.button-sign-in:hover {
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}
.button-sign-up {
	background: none;
	border: 1px solid var(--header-button-color);
	border-radius: 50px;
	padding: 13px 45px;
	transition: all .2s ease-in-out;
}
.button-sign-up:hover {
	background: var(--header-button-color);
	color: #fff;
	transition: all .2s ease-in-out;
}



/*introduction section*/

.introduction {
	height: 406px;
	margin: 50px 0 0 0;
	padding: 121px 0 144px 0;
}
.main-info {
	max-width: 555px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.main-title-text {
	font-size: 50px;
	font-weight: 500;
	line-height: 70px;
	margin: 0 0 20px 0;
}
.main-second-text {
	font-weight: 400;
	line-height: 30px;
	margin: 0 0 50px 0;
	color: var(--second-color);
}
.main-button-wrapper {
	height: 102.8px;
	width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.main-button {
	width: 250px;
	height: 60px;
	background: var(--button-color);
	color: #fff;
	font-weight: 700;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	border: none;
	outline: none;
	z-index: 2;
	padding: 0;
	transition: all .2s ease-in-out;
}
.main-button:hover {
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}
.main-button-shadow {
	width: 211px;
	height: 60px;
	border-radius: 10px;
	filter: blur(54px);
	background: var(--button-color);
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.main-img {
	width: 611.24px;
	height: 406.08px;
}

/*Features*/

.features {
	padding: 73px 0 148px 0;
	background: linear-gradient(180deg, 
		#F6F5F5 -45.04%, 
		#FFFFFF 19.67%, 
		#F4F3F3 88.56%);
}
.features-img {
	width: 508.12px;
	height: 417.07px;
}
.features-info {
	max-width: 428px;
}
.features-title-text {
	font-weight: 500;
	font-size: 35px;
	line-height: 50px;
	margin: 0 0 20px 0;
}
.features-second-text {
	line-height: 30px;
	font-weight: 400;
	color: var(--second-color);
	margin: 0 0 20px 0;
}
.features-list {
	height: 165px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}
.features-item {
	font-size: 14px;
	line-height: 30px;
	font-weight: 400;
	color: var(--second-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.features-item p {
	padding: 0 0 0 12px;
}
.list-icon {
	width: 20px;
	height: 20px;
}

/*reviews*/

.reviews {
	padding: 73px 0 0 0;
}
.reviews-title {
	max-width: 393px;
	width: 100%;
	font-weight: 500;
	font-size: 35px;
	line-height: 50px;
	text-align: center;
	margin: 0 0 10px 0;
}
.reviews-second-text {
	max-width: 487px;
	width: 100%;
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: var(--second-color);
	text-align: center;
	margin: 0 0 58px 0;
}
.reviews-card-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
.reviews-card-wrapper {
	max-width: 350px;
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
.reviews-card {
	height: 184px;
	border: 2px solid #DDDDDD;
	border-radius: 10px;
	padding: 30px 26px;
	position: absolute;
	z-index: 2;
	background: #fff;
}
.reviews-card-active {
	border: 2px solid #F53838 !important;
}
.reviews-card-header {
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card-header-info-wrapper {
	max-width: 184px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card-header-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 0 12px;
}
.card-header-name {
	font-weight: 500;
	font-size: 18px;
	padding: 0 0 5px 0;
}
.card-header-location {
	font-size: 14px;
	font-weight: 400;
}
.card-header-img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.person-1 {
	background: url('../img/person-1.png');
}
.person-2 {
	background: url('../img/person-2.png');
}
.person-3 {
	background: url('../img/person-3.png');
}
.card-header-rating {
	max-width: 57.3px;
	height: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header-rating-number {
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	padding: 0 14px 0 0;
}
.rating-icon {
	width: 20.5px;
	height: 20.1px;
}
.reviews-card-body {
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reviews-card-text {
	line-height: 30px;
	font-weight: 400;
	padding: 20px 0 0 0;
}
.active-card-shadow {
	background: #0D1025;
	opacity: 0.06;
	filter: blur(114px);
	border-radius: 10px;
	z-index: 1;
}
.card-shadow {
	height: 100%;
	width: 300px;
	position: absolute;
	
}
.subscribe-card-wrapper {
	width: 100%;
	height: 297px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: relative;
	bottom: -160px;
}
.subscribe-card {
	width: 100%;
	height: 233px;
	background: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	z-index: 2;
}
.subscribe-info {
	width: 370px;
	margin: 0 0 0 70px;
}
.subscribe-title-text {
	font-weight: 500;
	font-size: 35px;
	line-height: 45px;
}
.subscribe-second-text {
	padding: 20px 0 0 0;
	font-weight: 400;
	color: var(--second-color);
}
.subscribe-button-wrapper {
	width: 250px;
	height: 85px;
	margin: 25px 70px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.subscribe-button {
	padding: 17.5px 65px;
	background: var(--button-color);
	border-radius: 10px;
	color: #fff;
	font-size: 16px;
	line-height: 25px;
	font-weight: 500;
	position: absolute;
	z-index: 2;
	outline: none;
	border: none;
	transition: all .2s ease-in-out;
}
.subscribe-button:hover {
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}
.subscribe-button-shadow {
	width: 211px;
	height: 60px;
	background: rgba(245, 56, 56, 0.35);
	filter: blur(54px);
	border-radius: 10px;
	position: absolute;
	z-index: 1;
	bottom: 0;
}
.subscribe-card-shadow {
	width: 1077px;
	height: 250px;
	background: #0D1025;
	opacity: 0.06;
	filter: blur(114px);
	border-radius: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 1;
}

/*footer*/

.footer {
	width: 100%;
	height: 247px;
	background: var(--footer-color);
}
.footer-info {
	display: flex;
	height: 41px;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	padding: 170px 0 0 0;
}
.footer-contacts {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 140px;
}
.footer-contact-icon-wrapper {
	width: 34px;
	height: 34px;
	position: relative;
}
.footer-contact-icon {
	position: absolute;
	top: 0;
	z-index: 2;
	transition: all .2s ease-in-out;
}
.footer-contact-icon:hover {
	transform: scale(1.1);
	transition: all .2s ease-in-out;
}
.footer-contact-icon-shadow {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	position: absolute;
	top: 0;
	z-index: 1;
	box-shadow: 0px 13px 18px rgba(17, 19, 35, 0.08);
}
.footer-logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--main-color);
}
.footer-logo-title {
	font-weight: 500;
	font-size: 20px;
	padding: 0 0 0 10px;
}
.copyright {
	font-weight: 400;
	color: var(--second-color);
}
.reviews-card-wrapper:nth-child(2) {
	margin: 0 1rem;
}


/*props*/

:root {
	--main-color: #0B132A;
	--second-color: #4F5665;
	--header-button-color: #F53855;
	--button-color: #F53838;
	--footer-color: #F6F5F5;;
}

@media screen and (max-width: 400px) {
	.subscribe-info {
		width: 80% !important;
		margin: 30px 0 0 15px !important;
	}
	.subscribe-card {
		height: 280px !important;
	}
	.subscribe-button-wrapper {
		margin: 0 0 0 15px !important;
	}
	.features {
		height: 550px !important;
	}
	.features-img {
		top: 278px !important;
	}
	.main-info {
		height: 120% !important;
	}
	.main-img {
		top: 197px !important;
	}
}

@media screen and (max-width: 780px) {
	.subscribe-title-text {
		font-weight: 500;
		font-size: 30px;
		line-height: 35px;
	}
	.subscribe-second-text {
		padding: 10px 0 0 0;
	}
	.subscribe-button-wrapper {
		margin: 0 0 0 30px;
	}
	.subscribe-info {
		margin: 30px 0 0 30px;
		width: 100%;
	}
	.column {
		flex-direction: column !important;
		position: relative;
	}
	.main-info {
		z-index: 2;
		align-items: flex-end;
	}
	.main-img {
		top: 160px;
		position: absolute;
		z-index: 1;
	}
	.introduction {
		margin: 0 !important;
	}
	.main-button-wrapper {
		margin-left: 290px;
	}
	.main-second-text {
		font-size: 18px !important;
		line-height: 35px !important;
	}
	.main-title-text {
		font-size: 35px !important;
	}
	.features-column {
		flex-direction: column;
		align-items: center !important;
		position: relative;
	}
	.features-img {
		order: 2;
		position: absolute;
		z-index: 1;
		top: 150px;
	}
	.features-info {
		z-index: 2;
	}
	.features {
		height: 425px;
	}
	.reviews-card-list {
		flex-direction: column;
		align-items: center;
	}
	.reviews-card-wrapper {
		max-width: 560px;
	}
	.reviews-card-header {
		flex-direction: row !important;
	}
	.subscribe-card {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer-info {
		flex-direction: column;
	}
	.copyright {
		order: 3;
		margin: 0 0 1rem 0;
	}
	.footer-contacts {
		order: 2;
		margin: 0 0 2rem 0;
		max-width: 330px;
		width: 100%;
	}
	.footer-logo {
		order: 1;
		margin: 0 0 2rem 0;
	}
	.footer {
		height: 350px;
	}
}

@media screen and (max-width: 900px) {
	/*burger*/
	.header-burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 12;
	}
	.burger-active::before  {
		transform: rotate(45deg);
		transition: all .2s ease-in-out;
	}
	.burger-active::after {
		transform: rotate(-45deg);
		transition: all .2s ease-in-out;
	}
	.burger-active span {
		transform: scale(0);
	}
	.burger-active {
		height: 3px;
	}
	.header-burger::before,
	.header-burger::after {
		content: '';
		background-color: var(--main-color);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.header-burger::before {
		top: 0;
		transition: all .2s ease-in-out;
	}
	.header-burger::after {
		bottom: 0;
		transition: all .2s ease-in-out;
	}
	.header-burger span {
		width: 100%;
		height: 2px;
		background-color: var(--main-color);
		position: absolute;
		left: 0;
		top: 9px;
		transition: all .2s ease-in-out;
	}
	.menu-wrapper  {
		position: fixed;
		top: 0;
		left: 0;
		width: 300px;
		height: 100vh;
		background-color: #fff;
		z-index: 10;
		flex-direction: column;
		justify-content: center;
		font-size: 20px;
		transition: all .3s ease-in-out;
	}
	.active {
		left: -300px;
		transition: all .3s ease-in-out;
	}
	.header-nav {
		height: 40%;
		
	}
	.active {
		color: #fff;
	}
	.header-nav ul {
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		
	}
	.header-buttons {
		display: flex;
		flex-direction: column;
		margin: 90px 0 0 0;
	}
	.button-sign-in {
		padding: 0;
	}
	.button-sign-up {
		margin: 30px 0 0 0;
	}
	.container {
		padding: 0 1rem;
	}
	.main-title-text {
		font-size: 38px;
		line-height: 55px;
	}
	.main-img {
		width: 500px;
	}
	.main-second-text {
		line-height: 25px;
	}
	.main-second-text {
		font-size: 30px;
		line-height: 45px;
	}
	.features-title-text {
		font-size: 30px;
		line-height: 45px;
	}
	.features-second-text {
		line-height: 25px;
	}
	.features-list {
		height: 140px;
	}
	.reviews-card-wrapper {
		height: 350px;
	}
	.reviews-card {
		height: 250px;
	}
	.reviews-card-header {
		flex-direction: column;
		height: 75px;
		align-items: flex-start;
	}
	.card-header-rating {
		padding: 10px 0 0 0;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		padding: 0 1rem;
	}
	.introduction {
		margin: 121px 0 0 0;
	}

	
}
